# Python virtual environment
**/venv/
ENV/
env/g

# Python byte-code (compiled files)
**/__pycache__/
*.pyc
*$py.class

# Environment variables and secrets (CRITICAL for security)
.env

# VS Code settings
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Database logs or local dumps (optional)
*.log
local_db_dump.sql